body {
  background: linear-gradient(to right, #667eea, #764ba2);
}

h1 {
 width: fit-content;
  background: linear-gradient(to right, #667eea, #764ba2);
  margin: auto;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 10px;
}
.heading {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: sans-serif;
  width: fit-content;
}

.joke {
  height: 20vh;
  background-color: #667eea;
  box-shadow: black;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.btn {
  padding: 10px;
  background: linear-gradient(to right, #667eea, #764ba2);
  border-radius: 10px;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 1rem;
} 
.emoji {
  display: inline-block;
  animation: laugh 0.5s infinite, bounce 1s infinite;
}

@keyframes bounce {
  0%,100% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
}